{% extends "account/base.html" %}

{% load i18n %}
{% load account %}


{% block inner  %}
<h1>Confirm E-Mail Address</h1>

{% if confirmation %}

  {% user_display confirmation.email_address.user as user_display %}
  <p> To confirm your e-mail address ({{ confirmation.email_address.email }}) hit the "Confirm" button below.</p>

<form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
{% csrf_token %}
    <button class="ant-btn ant-btn-primary ant-btn-lg" type="submit">Confirm</button>
</form>

{% else %}

{% url 'account_email' as email_url %}

<p>{% blocktranslate %}This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.{% endblocktranslate %}</p>

{% endif %}

{% endblock %}
